body {
    font-size: 1em;
    font-family: 'calluna-sans', Georgia, serif;
    line-height: 1.5;
    color: #333;
    background-color: #fcfcfc;
}

section {
    clear: both;
    float: left;
    margin-bottom: 3em;
}

.promo {
    margin-top: 4em;
    line-height: 1;
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    color: #555;
}

/* GET */
.page {
    margin: 0 auto;
    width: 60em;
}

.huge {
    font-size: 6em;
    text-align: center;
    margin-bottom: .5em;
    margin-top: .3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    text-shadow: 0 2px 0 rgba(255,255,255,1);
}

.huge > span:first-child {
    color: #454545;
    font-size: .8em;
    font-style: italic;
    font-family: 'Georgia', serif;
    text-transform: none;
    position: absolute;
    top: 1em;
    left: 4.4em;
}

.huge > span:last-child {
    position: absolute;
    top: 1.1em;
    font-size: .75em;
    text-transform: none;
    left: 6.66em;
}


.guide {
    position: relative;
    color: #232323;
    clear: both;
 }

.guide span {
    font-family: 'Georgia', serif;
    color: #232323;
    position: absolute;
    left: -2em;
    top: -.3em;
    font-size: 2em;
    opacity: .2;
}

/* SET */

.input input {
    background: transparent;
    border: 1px solid rgba(0,0,0, .4);
    border-radius: 6px;
    color: #232323;
    font-size: 1.2em;
    font-family: 'Georgia', serif;
    padding: .5em;
    text-align: center;
    width: 3em;
    -webkit-transition: all 0.2s ease-in-out 0s;
       -moz-transition: all 0.2s ease-in-out 0s;
         -o-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
}

.input input:focus {
    background: rgba(0,0,0, .06);
    border: 1px solid rgba(0,0,0, .5);
}

.input p {
    float: left;
    margin-right: 2.6em;
}

.input p:last-child {
    margin-right: 0;
}

.input label {
    font-size: 1.1em;
    margin-right: .8em;
    font-weight: bold;
}

.dummy {
    clear: both;
    position: relative;
}

/* Grid */

.dummy .wrapper {
    margin-top: .9em;
    opacity: 0;
}

.dummy:hover .wrapper {
    opacity: 1;
}

.css { font-family: Helvetica, Arial, sans-serif; }
.css ul {
    list-style: none;
}

.css p { margin: 0; }