<p>body {</p>
<ul>
  <li>font-size: <%= body.emSize %>em;</li>
  <li>line-height: <%= line_height.height %>;</li>
</ul>
<p>}</p>

<p>h1 {</p>
<ul>
  <li>font-size: <%= h1.emSize %>em;</li>
  <li>line-height: <%= h1.line %>em;</li>
  <li>margin-bottom: <%= h1.line %>em;</li>
</ul>
}
<p>h2 {</p>
<ul>
  <li>font-size: <%= h2.emSize %>em;</li>
  <li>line-height: <%= h2.line %>em;</li>
  <li>margin-bottom: <%= h2.line %>em;</li>
</ul>
}
<p>h3 {</p>
<ul>
  <li>font-size: <%= h3.emSize %>em;</li>
  <li>line-height: <%= h3.line %>em;</li>
  <li>margin-bottom: <%= h3.line %>em;</li>
</ul>
}
<p>h4 {</p>
<ul>
  <li>font-size: <%= h4.emSize %>em;</li>
  <li>line-height: <%= h4.line %>em;</li>
  <li>margin-bottom: <%= h4.line %>em;</li>
</ul>
}
<p>h5 {</p>
<ul>
  <li>font-size: <%= h5.emSize %>em;</li>
  <li>line-height: <%= h5.line %>em;</li>
  <li>margin-bottom: <%= h5.line %>em;</li>
</ul>
}
<p>p {</p>
<ul>
    <li>margin-bottom: <%= line_height.height %>em; </li>
    <li>line-height:<%= line_height.height %>; </li>
</ul>
<p>}</p>
<p>ul, ol, img {</p>
<ul>
    <li>margin-bottom: <%= line_height.height %>em;</li>
</ul>
<p>}</p>